*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ce268b, hsl(328, 34%, 31%));
}

.calculator{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
     box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
 .display {
    height: 100px;
    width: 280px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px black;
    background-color: #f1f1f1;
}
 .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.key {
   padding: 20px;
   font-size: 18px;
   border: none;
   border-radius: 10px;
   background: #e0e0e0;
   cursor: pointer;
   transition: 0.2s;
}
.key:hover {
   background: #d5d5d5;
 }

.key.operator {
    background: #6a3451;
    color: white;
}

.key.equal {
    background: #ce268b;
    color: white;
    grid-column: span 2;
}

.key.clear {
    background: #ce268b;
    color: white;
}